version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant-palm
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis-palm
    ports:
      - "6379:6379"
    restart: unless-stopped
