fastapi
uvicorn[standard]       # uvicorn + extra dependencies
python-multipart        # for form/file uploads
pydantic                # validation
PyPDF2                  # text extraction

sqlalchemy[aio]         # supports async db
             
sentence-transformers   # for embedding
# pinecone-client     
qdrant-client           # both pinecone and qdrant to store embedding
aiosqlite

# docker run -p 6333:6333 qdrant/qdrant